.footer-main {
    background:linear-gradient(to right,#9c27b0,#8ecdff);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    color: white;
    footer {
        .container {
            .row {

                h1 {
                    position: relative;
                }

                h1::after {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 55px;
                    background: red;
                    height: 3px;
                }

                .box {
                    

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 50px;
                    form {
                        input[type="text"] {
                            border-radius: 25px 0px 0px 25px;
                            outline: none;
                            border: none;
                            padding: 0 25px;
                            width: 300px;
                            height: 30px;
                        }

                        input[type='submit'] {
                            border-radius: 0px 25px 25px 0px;
                            height: 30px;
                            padding: 0 25px;
                            outline: none;
                            border: none;
                            color: white;
                            background-color: rgba(255, 166, 0, 0.904);
                        }
                        
                    }
                }

                .label-contact {
                    padding-top: 20px;
                    text-decoration: none;
                    list-style: none;
                    li {
                        font-size: 20px;
                        padding: 10px 0px;
                        a {
                            color: white;
                            
                            text-decoration: none;
                        }
                    }
                }

                .text-description{
                    padding-top: 30px;
                }
            }
        }
    }
    
}